:root{
	box-sizing: border-box;
}
*,
::before,
::after {
	box-sizing: inherit;
}
.container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
#stars-main,#stars-sub {
	border: 1px solid black;

}
