<!DOCTYPE html>
<html>
<head>
	<title>task-2</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/tempate" id="person-template">
		<div class="person-name"><%=name%></div>
		<input id="inputName" class ="hidden" value="<%=name%>">
		<div  class="person-phone"><%=phone%></div>
		<input id="inputPhone" class ="hidden" value="<%=phone%>">
		<% if(has_error) { %><span class="error"><%= msg%></span><%}%>
		<div><button class="person-delete">Удалить</button>
			<button class="person-edit" id="edit-btn">Редактировать</button>
		</div>
	</script>
	<script type="text/tempate"></script>
</head>
<body>
	<div class="container">
		<div class="row header" id="header">
			<input type="text" placeholder="Имя" id="person-name-input">	
			<input type="text" placeholder="Телефон" id="person-phone-input">
			<button id="person-add-btn">Добавить</button>
			<span class="error hidden" id="header-error"></span>
		</div>
		<div class="row people" id="people"></div>
	</div>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>