:root {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}


.header {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}


.person-row{
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
} 

.hidden {
	display: none;
}

.error {
	color: red;
}